@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

.button {
  background: blue;
  padding: 0.5rem;
  border: 1px solid blue;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
.button:hover {
  background: darkblue;
}

.button:active {
  background: blue;
}
.button-outline {
  background: transparent;
  border: 1px solid blue;
  color: blue;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.button-outline:hover {
  background: blue;
  color: white;
}
.button-outline:active {
  background: darkblue;
  color: white;
}
.button svg {
  width: 18px;
  height: 18px;
}
.flying-animated {
  top: 50%;
  opacity: 100%;
  animation: flying 1.5s ease-in-out forwards;
}

@keyframes flying {
  100% {
    top: -20%;
    opacity: 0;
  }
}
